
@import 'tailwindcss';

*{
    font-family: "Poppins", sans-serif;
    
}
.brooklyn{
    font-family: "Brooklyn";
   
}
h1,h2,h3,h4,h5,h6{
    font-family: "Brooklyn";
}
.maroon{
    color: var(--color-primary);
}
.c_green{
    color: var(--color-secondary) ;
}